Repository gardener/cert-management, pull requests merged in 2024-11, with the labels that each got.

#334 chore: Use curl instead of wget
  hack/kind/dns-controller-manager/dns-controller-manager-up.sh
Labels: kind/enhancement, needs/ok-to-test, size/XS, cla: yes, approved, lgtm

#335 chore: Add /kind to PR template
  .github/pull_request_template.md
Labels: kind/enhancement, needs/ok-to-test, size/S, cla: yes, approved, lgtm

#315 Add basic integration test for issuer controller
  Makefile
  examples/11-dns.gardener.cloud_dnsentries.yaml
  go.mod
  go.sum
  hack/tools.go
  pkg/cert/client/scheme.go
  test/integration/controller/issuer/issuer_suite_test.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/enhancement, kind/test, needs/ok-to-test, reviewed/ok-to-test, size/XL, cla: yes, approved, lgtm

#339 test: Use Pebble as the ACME server in integration tests
  go.mod
  go.sum
  test/integration/controller/issuer/issuer_suite_test.go
  test/integration/controller/issuer/issuer_test.go
  test/utils/generate_cert.go
  test/utils/logbridge.go
  test/utils/pebble.go
Labels: kind/enhancement, kind/test, needs/ok-to-test, size/L, cla: yes, approved, lgtm

#347 chore: Improve Renovate configuration for controller-runtime
  renovate.json5
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/S, cla: yes, approved, lgtm

#350 chore: Fix generate-renovate-ignore-deps.sh
  hack/generate-renovate-ignore-deps.sh
  renovate.json5
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm

#352 Add check for license headers and fix missing headers
  Makefile
  hack/check-cert-secret.sh
  hack/generate-renovate-ignore-deps.sh
  hack/kind/skaffold-run.sh
  hack/kind/test-functional-local.sh
  pkg/cert/client/scheme.go
  test/utils/generate_cert.go
  test/utils/logbridge.go
  test/utils/pebble.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/M, cla: yes, approved, lgtm

#353 chore: Reuse format script from Gardener
  Makefile
  cmd/cert-controller-manager/main.go
  pkg/cert/client/scheme.go
  pkg/cert/legobridge/certificate.go
  pkg/cert/legobridge/certificate_test.go
  pkg/cert/legobridge/delegatingprovider.go
  pkg/cert/legobridge/dnscontrollerprovider.go
  pkg/cert/legobridge/dnsrecordprovider.go
  pkg/cert/legobridge/keystores.go
  pkg/cert/legobridge/reguser.go
  pkg/cert/metrics/metrics.go
  pkg/cert/source/defaults.go
  pkg/cert/source/interface.go
  pkg/cert/source/reconciler.go
  pkg/cert/source/slaves.go
  pkg/controller/issuer/acme/handler.go
  pkg/controller/issuer/ca/handler.go
  pkg/controller/issuer/certificate/reconciler.go
  pkg/controller/issuer/core/associatedObjects.go
  pkg/controller/issuer/core/quotas.go
  pkg/controller/issuer/core/referencedSecrets.go
  pkg/controller/issuer/core/referencedSecrets_test.go
  pkg/controller/issuer/core/state.go
  pkg/controller/issuer/core/support.go
  pkg/controller/issuer/core/support_test.go
  pkg/controller/issuer/reconciler.go
  pkg/controller/issuer/revocation/reconciler.go
  pkg/controller/source/gateways/crdwatch/controller.go
  pkg/controller/source/gateways/gatewayapi/controller.go
  pkg/controller/source/gateways/gatewayapi/handler.go
  pkg/controller/source/gateways/gatewayapi/handler_test.go
  pkg/controller/source/gateways/istio/controller.go
  pkg/controller/source/gateways/istio/handler_test.go
  pkg/controller/source/helper.go
  pkg/controller/source/ingress/handler.go
  pkg/controller/source/service/handler.go
  test/functional/basics.go
  test/functional/config/utils.go
  test/functional/dnsrecords.go
  test/integration/controller/issuer/issuer_suite_test.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm

#354 feat: Introduce certificate duration
  charts/cert-management/templates/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/zz_generated_crds.go
  pkg/apis/cert/v1alpha1/types.go
  pkg/apis/cert/v1alpha1/zz_generated.deepcopy.go
  pkg/cert/legobridge/certificate.go
  pkg/cert/legobridge/pki.go
  pkg/controller/issuer/certificate/reconciler.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/M, cla: yes, approved, lgtm

#362 Enh/improve flaky e2e test
  hack/kind/certman/issuer-up.sh
  hack/kind/local-issuer/local-issuer-up.sh
  test/functional/basics.go
  test/functional/config/config.go
  test/functional/config/utils.go
  test/functional/dnsrecords.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, size/XL, kind/flake, cla: yes, approved, lgtm

#228 Self signed issuer
  README.md
  charts/cert-management/templates/cert.gardener.cloud_certificates.yaml
  charts/cert-management/templates/cert.gardener.cloud_issuers.yaml
  examples/20-issuer-selfsigned.yaml
  examples/30-cert-selfsigned.yaml
  pkg/apis/cert/crds/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/cert.gardener.cloud_issuers.yaml
  pkg/apis/cert/crds/zz_generated_crds.go
  pkg/apis/cert/v1alpha1/types.go
  pkg/apis/cert/v1alpha1/zz_generated.deepcopy.go
  pkg/cert/legobridge/certificate.go
  pkg/cert/legobridge/certificate_test.go
  pkg/cert/legobridge/pki.go
  pkg/cert/legobridge/pki_test.go
  pkg/cert/utils/issuerinfo.go
  pkg/cert/utils/issuerinfo_test.go
  pkg/cert/utils/utils_suite_test.go
  pkg/controller/issuer/ca/handler.go
  pkg/controller/issuer/certificate/certificate_suite_test.go
  pkg/controller/issuer/certificate/reconciler.go
  pkg/controller/issuer/certificate/utils.go
  pkg/controller/issuer/certificate/utils_test.go
  pkg/controller/issuer/core/const.go
  pkg/controller/issuer/core/support.go
  pkg/controller/issuer/reconciler.go
  pkg/controller/issuer/selfSigned/handler.go
  pkg/controller/issuer/selfSigned/handler_test.go
  pkg/controller/issuer/selfSigned/selfSigned_suite_test.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/XL, cla: yes, approved, lgtm

#366 Fix flaky check for keystore data in secret
  test/functional/basics.go
Labels: needs/ok-to-test, size/S, kind/flake, cla: yes, approved, lgtm

#369 Fix flaky check for keystore data in secret (2. try)
  test/functional/basics.go
Labels: needs/ok-to-test, reviewed/ok-to-test, size/XS, kind/flake, cla: yes, approved, lgtm

#367 Cleanup status for orphan pending certificate resources
  pkg/cert/legobridge/pki_test.go
  pkg/controller/issuer/certificate/reconciler.go
  pkg/controller/issuer/reconciler.go
  test/integration/controller/issuer/issuer_suite_test.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm

#370 chore: Bump version to v0.17.0-dev
  VERSION
  charts/cert-management/values.yaml
Labels: kind/task, reviewed/ok-to-test, size/XS, cla: yes

#371 Fix panic if target issuer referenced but not allowed
  pkg/controller/issuer/acme/handler.go
  pkg/controller/issuer/certificate/reconciler.go
  pkg/controller/issuer/core/support.go
  pkg/controller/issuer/reconciler.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm
