Repository gardener/cert-management, pull requests merged in 2024-10, with the labels that each got.

#313 Introduce gosec for Static Application Security Testing (SAST)
  .gitignore
  Makefile
  cmd/cert-controller-manager/main.go
  go.sum
  hack/sast.sh
  pkg/cert/legobridge/keystores.go
  pkg/cert/source/controller.go
  test/functional/config/config.go
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm

#314 Add SAST logs to OCM component descriptor
  .ci/pipeline_definitions
Labels: kind/task, needs/ok-to-test, size/S, cla: yes

#316 Istio gateways: Allow to specify namespace for TLS secret
  README.md
  docs/usage/tutorials/istio-gateways.md
  examples/40-gateway-istio.yaml
  examples/40-service-loadbalancer.yaml
  pkg/cert/source/controller.go
  pkg/cert/source/defaults.go
  pkg/cert/source/interface.go
  pkg/cert/source/reconciler.go
  pkg/controller/issuer/certificate/reconciler.go
  pkg/controller/source/gateways/gatewayapi/handler_test.go
  pkg/controller/source/gateways/istio/handler.go
  pkg/controller/source/gateways/istio/handler_test.go
  pkg/controller/source/helper.go
  pkg/controller/source/service/handler.go
Labels: needs/ok-to-test, size/L, cla: yes, do-not-merge/needs-kind

#331 chore: Add bash script for generating common, ignored Renovate depend…
  Makefile
  hack/generate-renovate-ignore-deps.sh
  renovate.json
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm
