Repository gardener/cert-management, pull requests merged in 2025-05, with the labels that each got.

#489 feat: Add `IssuanceDate` to `Certificate` status
  charts/cert-management/templates/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/zz_generated_crds.go
  pkg/apis/cert/v1alpha1/types.go
  pkg/apis/cert/v1alpha1/zz_generated.deepcopy.go
  pkg/certman2/apis/cert/crd-cert.gardener.cloud_certificates.yaml
  pkg/controller/issuer/certificate/reconciler.go
  test/integration/controller/issuer/certificate_test.go
Labels: kind/api-change, kind/task, needs/ok-to-test, reviewed/ok-to-test, size/L, cla: yes, approved, lgtm

#491 refactor: Rename `secret` to `secretRec`
  pkg/controller/issuer/certificate/reconciler.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, size/S, cla: yes, approved, lgtm

#494 chore: Enforce import restrictions through import-boss
  Makefile
  cmd/cert-controller-manager/.import-restrictions
  cmd/certman2/.import-restrictions
  pkg/apis/.import-restrictions
  pkg/cert/.import-restrictions
  pkg/certman2/.import-restrictions
  pkg/client/.import-restrictions
  pkg/controller/.import-restrictions
  pkg/shared/.import-restrictions
  test/certman2/.import-restrictions
  test/functional/.import-restrictions
  test/integration/.import-restrictions
Labels: kind/enhancement, kind/task, needs/ok-to-test, size/M, cla: yes, approved, lgtm

#495 docs: Document correct minimum duration
  README.md
  examples/30-cert-selfsigned.yaml
  pkg/controller/issuer/controller.go
Labels: kind/cleanup, needs/ok-to-test, size/S, cla: yes, approved, lgtm

#496 docs: Reformulate minimum `Certificate` duration description
  charts/cert-management/templates/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/cert.gardener.cloud_certificates.yaml
  pkg/apis/cert/crds/zz_generated_crds.go
  pkg/apis/cert/v1alpha1/types.go
  pkg/certman2/apis/cert/crd-cert.gardener.cloud_certificates.yaml
  pkg/controller/issuer/certificate/reconciler.go
  test/integration/controller/issuer/issuer_test.go
Labels: kind/cleanup, needs/ok-to-test, size/S, cla: yes, approved, lgtm

#502 Fix links in README.md
  README.md
Labels: kind/cleanup, needs/ok-to-test, size/XS, cla: yes, approved, lgtm, ok-to-test
