Repository gardener/cert-management, pull requests merged in 2025-02, with the labels that each got.

#399 Fix exhaustion of request quotas on concurrent certificates with same domain name
  pkg/apis/cert/v1alpha1/state.go
  pkg/cert/legobridge/certificate.go
  pkg/controller/issuer/certificate/reconciler.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, size/M, cla: yes, approved, lgtm

#405 feat: Build `linux/arm64` image
  .ci/pipeline_definitions
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/XS, cla: yes, approved, lgtm

#411 Update Formatting
  docs/development/testing.md
Labels: kind/enhancement, needs/ok-to-test, size/XS, cla: yes, approved, lgtm, needs-ok-to-test

#397 Add more tests
  Makefile
  go.mod
  pkg/cert/legobridge/certificate_test.go
  pkg/cert/legobridge/delegatingprovider.go
  pkg/cert/legobridge/delegatingprovider_test.go
  pkg/cert/legobridge/keystores_test.go
  pkg/cert/legobridge/pending_test.go
  pkg/cert/utils/mock/doc.go
  pkg/cert/utils/mock/mocks.go
  pkg/cert/utils/utils_certificate_test.go
Labels: kind/enhancement, needs/ok-to-test, cla: yes, approved, lgtm, size/XXL, ok-to-test

#419 Integration test: Higher timeout for orphan cert reconciliation
  test/integration/controller/issuer/issuer_test.go
Labels: needs/ok-to-test, size/XS, kind/flake, cla: yes, approved, lgtm

#427 fix: Dedupe Make test-integration target
  Makefile
Labels: kind/test, reviewed/ok-to-test, size/XS, cla: yes, approved, lgtm
